<div class="sale-wrapper">

  <div class="header">
    <h2>Histórico de Vendas</h2>
    <button class="minimal-btn" (click)="openSaleModal()">
      <mat-icon>add</mat-icon>
      Nova Venda
    </button>
  </div>

  <div class="filter-form">
  <div class="filter-field client-name">
    <label for="clientName">Cliente</label>
    <input
      id="clientName"
      type="text"
      [(ngModel)]="saleFilter.clientName"
      name="clientName"
      placeholder="Nome do cliente"
      class="filter-input"
    />
  </div>

  <div class="filter-field">
    <label for="startDate">Data Início</label>
    <input
      id="startDate"
      type="date"
      [(ngModel)]="saleFilter.startDate"
      name="startDate"
      class="filter-input"
    />
  </div>

  <div class="filter-field">
    <label for="endDate">Data Fim</label>
    <input
      id="endDate"
      type="date"
      [(ngModel)]="saleFilter.endDate"
      name="endDate"
      class="filter-input"
    />
  </div>

  <div class="filter-actions">
    <button type="button" class="filter-btn" (click)="onFilterChange()">Filtrar</button>
    <button type="button" class="clear-btn" (click)="clearFilters()">Limpar</button>
  </div>
</div>


  <div *ngIf="sales.length; else noSales" class="sales-grid">
    <div *ngFor="let sale of sales" class="sale-card">
      <div class="sale-header">
        <span class="client-name">{{ sale.clientName }}</span>
        <span class="sale-date">{{ sale.saleDate | date: 'dd/MM/yyyy HH:mm' }}</span>
      </div>
      <div class="sale-body">
        <div class="sale-items">
          <mat-icon>shopping_cart</mat-icon>
          <span class="items-list">{{ sale.items | saleItemsFormat }}</span>
        </div>
        <div class="sale-total">
          <span>Total:</span>
          <strong>R$ {{ sale.totalAmount.toFixed(2) }}</strong>

          <div class="sales-action">
            <button mat-stroked-button class="edit-button" (click)="openSaleModal()">
              <mat-icon>edit</mat-icon>
              Editar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noSales>
    <p class="empty-message">Nenhuma venda cadastrada.</p>
  </ng-template>

  <app-paginator 
    [totalElements]="totalElements"
    (pageChange)="onPageChange($event)">
  </app-paginator>
</div>
