<div class="product-list-container">
    <h1>Lista de Produtos</h1>
    <div class="product-cards">
      <div *ngFor="let product of products" class="product-card">
        <div class="product-card-header">
          <mat-icon>inventory_2</mat-icon>
          <span>{{ product.name }}</span>
        </div>
        <div class="product-card-body">
          <p><strong>Preço:</strong> R$ {{ product.price | currency: 'BRL': 'symbol' }}</p>
          <p><strong>Estoque:</strong> {{ product.stockQuantity }}</p>
        </div>
        <div class="product-card-footer">
          <button mat-flat-button color="primary" (click)="openSaleModal(product)">
            Vender
          </button>
        </div>
      </div>
    </div>
  </div>
  