<div class="product-wrapper">
  <div class="header">
    <h2>Gerenciamento de Produtos</h2>

    <div class="search-container">
      <input
        type="text"
        placeholder="Buscar produto..."
        [(ngModel)]="productFilter.productName"
        (keyup.enter)="getAllProducts()"
      />
      <button class="icon-btn" (click)="getAllProducts()">
        <mat-icon>search</mat-icon>
      </button>
    </div>

    <button class="minimal-btn" (click)="openProductModal()">
      <mat-icon>add</mat-icon>
      Novo Produto
    </button>
  </div>

  <div class="products-grid">
    <div class="product-card" *ngFor="let product of products">
      <div class="product-header">
        <span class="product-id">ID: {{ product.id }}</span>
        <span class="product-price">R$ {{ product.price }}</span>
      </div>

      <div class="product-body">
        <div class="product-info">
          <mat-icon>inventory_2</mat-icon>
          <div class="info-details">
            <strong>{{ product.name }}</strong>
            <div class="description">{{ product.description }}</div>
          </div>
        </div>

        <div class="product-stock">
          <span>Estoque:</span>
          <strong>{{ product.stockQuantity }}</strong>
        </div>
      </div>

      <div class="product-actions">
        <button mat-stroked-button class="edit-button" (click)="openProductModal(product)">
          <mat-icon>edit</mat-icon>
          Editar
        </button>
        <button mat-stroked-button class="delete-button" (click)="deleteProduct(product.id)">
          <mat-icon>delete</mat-icon>
          Deletar
        </button>
      </div>
    </div>
  </div>

  <app-paginator 
    [totalElements]="totalElements"
    (pageChange)="onPageChange($event)">
  </app-paginator>
</div>
